.khan__buy-link {
  padding: 0;
  margin: 0;
  margin-left: 48px;
  font-family: inherit;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  transition:opacity 0.5s linear;
}

.khan__buy-link:hover {
  opacity: 0.5;
}
